
body {
    background-color: #000000;
}
.image-container {
    position: relative;
    display: inline-block;
}
image-container img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay-text {
    font-family: sans-serif;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 100px; 
    text-align: center;
    text-shadow: #000000 0px 0px 10px;
}


img{
    width: 100vw;
    max-height: 100vh;
    height: auto;
    max-width: none;
    opacity: 50%;
    object-fit: cover;
    border-width: 10px;

}
.topnav {
    margin: 0px auto;
    background-color: #000000;
    overflow: hidden;
    font-family: sans-serif;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #0478aa;
    color: white;
}